
<div class="container">

  <button type="button" class="btn btn-primary" 
  data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="AddProduct()">
  Add product
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Add product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Closeclick()">
          </button>
        </div>
        <div class="modal-body">
          
          <app-add-edit *ngIf="activateAddComponent"></app-add-edit>

        </div>
        
      </div>
    </div>
  </div>









<table class="table">
    <thead>
      <tr>   
        
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of ProductList">
       
        <td>{{prod.ID}}</td>
        <td>{{prod.Name}}</td>
        <td>
            <button type="button" class="btn btn-success mr-1">Edit</button>
            <button type="button" class="btn btn-danger mr-1">Delete</button>
        </td>
        
      </tr>
      
    </tbody>
  </table>

</div>